@use 'abstracts/functions' as f;

.login-mat-card {
  width: 100%;
  max-width: f.px-to-rem(400);
  min-height: f.px-to-rem(284);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login {
  &__desc {
    margin-bottom: f.px-to-rem(25);
  }
  &__input {
    width: 100%;
    margin-bottom: f.px-to-rem(15);
  }
  &__btn {
    margin-top: f.px-to-rem(10);
    width: 100%;
    border-radius: 8px;
  }

  .loading-spinner {
    color: white;
  }
}
