@use '../../../styles/abstracts/mixins' as m;

.header {
  padding: 0 16px;
  display: flex;
  min-height: 68px;
  align-items: center;
  justify-content: space-between;
}
.app-logo {
  display: none;
}

@include m.for-device-width('sd') {
  .app-logo {
    display: block;
  }
  .app-logo-mobile {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
