<header class="header">
  <a routerLink="/dashboard" class="header__app-logo">
    <img src="assets/app-logo.svg" alt="RMS" />
  </a>

  <a
    *ngIf="!userLoggedIn"
    routerLink="/dashboard"
    class="header__app-logo-sm-devices"
  >
    <img src="assets/app-logo.svg" alt="RMS" />
  </a>

  <button
    mat-icon-button
    aria-label="hamburger"
    class="header__hamburger"
    *ngIf="userLoggedIn"
    (click)="toggleSidenav()"
  >
    <img src="assets/hamburger-icon.svg" alt="" />
  </button>

  <button
    *ngIf="userLoggedIn"
    type="button"
    aria-label="user profile"
    [matMenuTriggerFor]="menu"
  >
    <app-user-avtar [src]="profileUrl"></app-user-avtar>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>{{ userName }}</button>
    <button mat-menu-item>{{ userEmail }}</button>
    <button mat-menu-item class="logout-btn" (click)="logout()">logout</button>
  </mat-menu>
</header>
