@use 'abstracts/mixins' as m;
@use 'abstracts/functions' as f;

.header {
  @include m.flex-set(space-between, center);
  padding: 0 f.px-to-rem(16);
  min-height: 68px;

  &__app-logo {
    display: none;
  }

  @include m.for-device-width('lg') {
    &__app-logo {
      display: block;
    }

    &__app-logo-sm-devices {
      display: none;
    }

    &__hamburger {
      display: none;
    }
  }
}
