@use 'abstracts/functions' as f;
@use 'abstracts/mixins' as m;
@use 'abstracts/variables' as v;

.dashboard {
  padding: f.px-to-rem(16);
  width: 100%;
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: f.px-to-rem(10);
  }

  &__statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  .stat-card {
    flex-grow: 1;
  }

  &__report-generator {
    @include m.flex-set(space-between);
    padding: 10px;
    border: 1px solid v.$grey;
    border-radius: 12px;
    margin: 10px 0;

    &__btns {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
  }

  @include m.for-device-width('lg') {
    &__cards {
      display: flex;
      gap: 10px;
      margin: 20px 0;
      .dashboard__top-customers {
        flex: 1;
      }
      .dashboard__top-selling-dishes {
        flex: 2;
      }
    }
  }
}

.select-restaurant {
  margin: f.px-to-rem(10);
  width: f.px-to-rem(300);
}
