<section class="dashboard">
  <div class="dashboard__content">
    <div>
      <h1>Overview Dashboard</h1>
      <p>{{ desc }}</p>
    </div>

    <mat-form-field appearance="outline" class="select-restaurant">
      <mat-label>View Dashboard As</mat-label>
      <mat-select [(value)]="selected" (valueChange)="changeRestaurantData()">
        <mat-option
          *ngFor="let restaurant of restaurantsData"
          value="{{ restaurant.id }}"
        >
          {{ restaurant.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="dashboard__statistics">
    <app-statistics
      *ngFor="let item of statisticsData"
      [dataName]="item.dataName"
      [dataValue]="item.dataValue"
      [dataIcon]="item.dataIcon"
      [dataIconBgColor]="item.dataIconBgColor"
      [dataIconColor]="item.dataIconColor"
    >
    </app-statistics>
  </div>

  <app-list-card
    class="dashboard__top-customers"
    title="Top Customers"
    [items]="topCustomers"
    valuePrefix="$"
  ></app-list-card>
  <app-list-card
    class="dashboard__top-selling-dishes"
    title="Top Selling Dishes"
    [items]="topSellingDishes"
    valueSuffix="orders"
  ></app-list-card>
</section>
