@use 'abstracts/mixins' as m;
@use 'abstracts/variables' as v;

.layout-container {
  display: flex;
  flex-direction: column;

  app-header {
    border-bottom: 1px solid v.$grey;
  }

  app-side-nav {
    display: none;
    border-right: 1px solid v.$grey;
    width: 250px;
    height: calc(100vh - 68px);
    position: absolute;
    z-index: 2;
    top: 68px;
  }

  main {
    padding: 10px;
  }
  .show {
    display: block;
  }

  @include m.for-device-width('sd') {
    display: grid;
    height: 100vh;
    grid-template-areas:
      'header header'
      'sidenav main';
    grid-template-rows: 68px 1fr;
    grid-template-columns: 250px 1fr;

    app-header {
      grid-area: header;
    }

    app-side-nav {
      grid-area: sidenav;
      display: block;
      position: static;
    }

    main {
      grid-area: main;
      overflow: auto;
    }
  }

  @include m.for-device-width('lg') {
    max-width: 1860px;
    margin: auto;
  }
}
