@use '../../../styles/abstracts/mixins' as m;

.page-404 {
  text-align: center;
  &__img {
    margin: 30px 0;
  }
  &__para {
    margin: 20px 0;
  }
  &__btn {
    border-radius: 12px;
  }
}

@include m.for-device-width('sd') {
  .page-404 {
    &__img {
      height: 60vh;
      max-width: 800px;
      margin: 0px 0;
    }
  }
}
