@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as f;

body {
  font-family: 'Inter', sans-serif;
}
h1 {
  font-size: f.rem(30);
  font-weight: 700;
  letter-spacing: 0;
}
h2 {
  font-size: f.rem(20);
  font-weight: 700;
  letter-spacing: 0;
}
p {
  font-size: f.rem(14);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  color: #00000099;
}
button {
  font-size: f.rem(14);
}

@include m.for-device-width('sd') {
  h1 {
    font-size: f.rem(48);
  }
}
