@use 'abstracts/mixins' as m;
@use 'abstracts/functions' as f;
@use 'abstracts/variables' as v;

body {
  font-family: Inter, sans-serif;
}

h1 {
  font-size: f.px-to-rem(30);
  font-weight: 700;
}

h2 {
  font-size: f.px-to-rem(20);
  font-weight: 600;
}

h3 {
  font-size: f.px-to-rem(16);
  font-weight: 700;
}

p {
  font-size: f.px-to-rem(14);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  color: v.$para-color;
}

button {
  border: none;
  background-color: transparent;
  font-size: f.px-to-rem(14);
  cursor: pointer;
}
.sm-para {
  font-size: f.px-to-rem(12);
}

@include m.for-device-width('lg') {
  h1 {
    font-size: f.px-to-rem(48);
  }
}
